<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p" xmlns:cache="http://www.springframework.org/schema/cache"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
    <bean id="a1" class="com.fluex404.ci.model.Address">
        <constructor-arg value="Bogor"/>
        <constructor-arg value="West Java"/>
        <constructor-arg value="Indonesia"/>
    </bean>

    <bean id="e" class="com.fluex404.ci.model.Employee">
        <constructor-arg value="101"/>
        <constructor-arg value="Isa"/>
        <constructor-arg>
            <ref bean="a1"/>
        </constructor-arg>
    </bean>
    <bean id="e2" class="com.fluex404.ci.model.Employee">
        <constructor-arg value="102"/>
        <constructor-arg value="Rara"/>
        <constructor-arg>
            <null></null>
        </constructor-arg>
    </bean>
    <bean id="ans1" class="com.fluex404.ci.model.Answer">
        <constructor-arg value="101"/>
        <constructor-arg value="Java is Programming Language"/>
        <constructor-arg value="Taraa"/>
    </bean>
    <bean id="ans2" class="com.fluex404.ci.model.Answer">
        <constructor-arg value="102"/>
        <constructor-arg value="Java is part of JVM language"/>
        <constructor-arg value="Isa"/>
    </bean>
    <bean id="q" class="com.fluex404.ci.model.Question">
        <constructor-arg value="101"/>
        <constructor-arg value="What's java ?"/>
        <constructor-arg>
            <list>
                <ref bean="ans1"/>
                <ref bean="ans2"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="qm" class="com.fluex404.ci.model.QuestionMap">
        <constructor-arg value="102"/>
        <constructor-arg value="What's java"/>
        <constructor-arg>
            <map>
                <entry key="Java is programming language" value="Josh"/>
                <entry key="Java is platform" value="Amel"/>
            </map>
        </constructor-arg>
    </bean>
    <bean id="am1" class="com.fluex404.ci.model.AnswerMap">
        <constructor-arg value="100"/>
        <constructor-arg value="Java is programming language"/>
        <constructor-arg value="12/12/2001"/>
    </bean>
    <bean id="am2" class="com.fluex404.ci.model.AnswerMap">
        <constructor-arg value="200"/>
        <constructor-arg value="Java is part of JVM language"/>
        <constructor-arg value="12/12/2003"/>
    </bean>
    <bean id="um1" class="com.fluex404.ci.model.UserMap">
        <constructor-arg value="201"/>
        <constructor-arg value="Josh"/>
        <constructor-arg value="josh@gmail.com"/>
    </bean>
    <bean id="um2" class="com.fluex404.ci.model.UserMap">
        <constructor-arg value="203"/>
        <constructor-arg value="Test"/>
        <constructor-arg value="test01test@gmail.com"/>
    </bean>
    <bean id="qm2" class="com.fluex404.ci.model.QuestionMap2">
        <constructor-arg value="230"/>
        <constructor-arg value="What's java? "/>
        <constructor-arg>
            <map>
                <entry key-ref="am1" value-ref="um1"/>
                <entry key-ref="am2" value-ref="um1"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="qutionInheritance" class="com.fluex404.ci.model.Question" parent="q">

    </bean>

    <!-- SETTER INJECTION -->
    <bean id="obj" class="com.fluex404.si.model.Employee" >
        <property name="id">
            <value type="java.lang.Integer">101</value>
        </property>
        <property name="name">
            <value type="java.lang.String">Isa</value>
        </property>
        <property name="address">
            <ref bean="address1"/>
        </property>
    </bean>
    <bean id="address1" class="com.fluex404.si.model.Address">
        <property name="addressLine1">
            <value>Uveve osas</value>
        </property>
        <property name="city">
            <value>Bogor</value>
        </property>
        <property name="country">
            <value>Indonesia</value>
        </property>
        <property name="state">
            <value>West Java</value>
        </property>
    </bean>
    <bean id="b1" class="com.fluex404.autowire.model.B"/>

    <!-- AUTOWIRE -->
    <bean id="a" class="com.fluex404.autowire.model.A" autowire="constructor"/>

    <!-- Factory Method -->
    <!-- it's own class -->
<!--    <bean id="afm" class="com.fluex404.fm.A" factory-method="getA"/>-->
    <!-- static method -->
    <bean id="p" class="com.fluex404.fm.PrintableFactory" factory-method="getPrintable"/>
    <bean id="p2" class="com.fluex404.fm.PrintableFactory" factory-method="getPrintable2"/>
    <!-- non static method -->
    <bean id="p3" class="com.fluex404.fm.PrintableFactory" factory-method="print" factory-bean="p"/>

    <!-- Spring AOP DTD -->
    <bean id="obj2" class="com.fluex404.aop.A"/>
    <bean id="ba" class="com.fluex404.aop.BeforeAdvisor"/>
    <bean id="aa" class="com.fluex404.aop.AfterAdvisor"/>

    <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="obj2"/>
        <property name="interceptorNames">
            <list>
                <value>ba</value>
                <value>aa</value>
            </list>
        </property>
    </bean>

    <!-- Spring AOP aspect -->
    <bean id="opBean" class="com.fluex404.aopaspectj.Operation"/>
    <bean id="trackMyBean" class="com.fluex404.aopaspectj.TrackOperation"/>

    <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"/>

    <!-- Spring JDBC -->
    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/test"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="ds"/>
        <property name="lazyInit" value="true"/>
    </bean>
    <bean id="edao" class="com.fluex404.jdbc.dao.impl.EmployeeDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
</beans>